# Automatically created by: scrapy startproject
#
# For more information about the [deploy] section see:
# https://scrapyd.readthedocs.org/en/latest/deploy.html

[settings]
default = scrapyprj.settings

[deploy]
url = http://47.89.48.226:6800/
username = scrapy
password = sloth
project = scrapyprj
version = GIT
